#about-hero {
	background-image: url("../images/mobile-intro-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	height: 35rem;
	padding: 6rem 1.5rem;
}

.about-heading {
	color: var(--orange);
	text-align: center;
}

.about-heading h2 {
	font-size: 1.7rem;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 0.7rem;
	margin-bottom: 0.5rem;
}

.about-heading p {
	font-size: 1.4rem;
	font-weight: 300;
	margin-top: 0.2rem;
}

.about-desc {
	border: 1px solid var(--lightGray);
	padding: 1rem;
	background-color: var(--white);
	margin-bottom: 0.5rem;
}

.about-desc p {
	color: var(--gray);
	font-size: 0.9rem;
	line-height: 1.3rem;
	text-align: center;
}

.about-small {
	color: var(--gray);
	text-align: center;
}

.about-small strong {
	color: var(--lightBlack);
	text-decoration: underline;
}

#about-logo {
	padding: 6rem 1.5rem;
}

.about-logo-heading .trait {
	width: 1.5rem;
	height: 0.2rem;
	border-bottom: 1px solid var(--orange);
	margin: 0 auto;
}

.about-logo-heading h1 {
	text-align: center;
	color: var(--lightBlack);
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 0.7rem;
}

.about-logo-heading p {
	font-size: 0.8rem;
	color: var(--gray);
	text-align: center;
	margin-top: 1rem;
}

.about-logo-img {
	height: 100px;
	align-items: center;
	display: flex;
	justify-content: center;
	border: 1px solid var(--lightGray);
	margin-top: 2rem;
}

.about-logo-img .wd-logo {
	color: var(--orange);
	font-weight: 900;
	text-align: center;
	font-size: 2rem;
}

.about-logo-img .wd-logo span {
	color: var(--lightBlack);
	font-weight: 700;
	text-transform: uppercase;
}

.about-hr {
	border: 1px solid var(--lightGray);
}

/* See past section */

#see-past {
	padding: 2rem 1.5rem;
}

.see-past-heading .trait {
	width: 1.5rem;
	height: 0.2rem;
	border-bottom: 1px solid var(--orange);
	margin: 0 auto;
}

.see-past-heading h1 {
	text-align: center;
	color: var(--lightBlack);
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 0.7rem;
}

.see-past-heading p {
	font-size: 0.8rem;
	color: var(--gray);
	text-align: center;
	margin-top: 1rem;
}

.see-img{
width: 100%;
text-align: center;
margin-top: 2rem;
}

.see-img img{
max-width: 95%;
margin-bottom: 0.7rem;
}