footer {
  padding: 2rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

footer .wd-logo {
  color: var(--orange);
  font-weight: 900;
  text-align: center;
}

footer .wd-logo span {
  color: var(--lightBlack);
  font-weight: 700;
  text-transform: uppercase;
}

#about-page-footer{
  background-color: var(--lightBlack);
}

#about-page-footer .about-wd-logo {
  color: var(--orange);
  font-weight: 900;
  text-align: center;
}

#about-page-footer .about-wd-logo span {
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

footer p {
  font-size: 1rem;
  color: var(--gray);
}

@media screen and (min-width: 768px) {
  footer {
    padding: 2rem 10rem;
  }
}
